<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <HotKeySettings>
    <Name>NextPage</Name>
    <Ctrl>false</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>39</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>PrevPage</Name>
    <Ctrl>false</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>37</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>FullMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>true</Alt>
    <Shift>false</Shift>
    <Key>70</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>Find</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>70</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>BookSetting</Name>
    <Ctrl>true</Ctrl>
    <Alt>true</Alt>
    <Shift>false</Shift>
    <Key>83</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>TextMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>84</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>ImageMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>73</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>EllipseMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>69</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>FillEllipseMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>true</Shift>
    <Key>69</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>RectangleMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>82</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>FillRectangleMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>true</Shift>
    <Key>82</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>LineMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>76</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>MemoMode</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>77</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>EraserMode</Name>
    <Ctrl>false</Ctrl>
    <Alt>false</Alt>
    <Shift>true</Shift>
    <Key>69</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>MouseMode</Name>
    <Ctrl>false</Ctrl>
    <Alt>false</Alt>
    <Shift>true</Shift>
    <Key>77</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>Haste</Name>
    <Ctrl>true</Ctrl>
    <Alt>false</Alt>
    <Shift>false</Shift>
    <Key>72</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>ColorSetting</Name>
    <Ctrl>true</Ctrl>
    <Alt>true</Alt>
    <Shift>false</Shift>
    <Key>67</Key>
  </HotKeySettings>
  <HotKeySettings>
    <Name>BoldSetting</Name>
    <Ctrl>true</Ctrl>
    <Alt>true</Alt>
    <Shift>false</Shift>
    <Key>66</Key>
  </HotKeySettings>
  <Settings>
    <Name>Memo</Name>
    <Checked>true</Checked>
  </Settings>
  <Settings>
    <Name>BackgroundImage</Name>
    <Checked>true</Checked>
  </Settings>
  <Settings>
    <Name>MemoBottomView</Name>
    <Checked>false</Checked>
  </Settings>
  <Settings>
    <Name>MemoTopView</Name>
    <Checked>false</Checked>
  </Settings>
  <Settings>
    <Name>MemoMiddleView</Name>
    <Checked>false</Checked>
  </Settings>
  <Settings>
    <Name>MemoView</Name>
    <Checked>false</Checked>
  </Settings>
  <FontSettings>
    <Name>MemoDefaultFont</Name>
    <FontName>굴림</FontName>
    <FontSize>9</FontSize>
    <Bold>false</Bold>
    <Italic>false</Italic>
    <Strikeout>false</Strikeout>
    <Underline>false</Underline>
  </FontSettings>
  <ColorSettings>
    <Name>MemoDefaultFontColor</Name>
    <Alpha>0</Alpha>
    <Red>0</Red>
    <Green>0</Green>
    <Blue>0</Blue>
  </ColorSettings>
  <ColorSettings>
    <Name>MemoDefaultBackColor</Name>
    <Alpha>0</Alpha>
    <Red>0</Red>
    <Green>0</Green>
    <Blue>0</Blue>
  </ColorSettings>
</NewDataSet>